#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include "torabo_tsuki_lp.dtsi"
#include <behaviors/input_gestures_accel.dtsi>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pointing_device_split: pointing_device_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    pointing_device_split_listener: pointing_device_split_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device_split>;
        status = "okay";
    };
};

&physical_layout_s {
    kscan = <&mock_kscan>;
};

&physical_layout_m {
    kscan = <&mock_kscan>;
};

&physical_layout_l {
    kscan = <&mock_kscan>;
};

&pointer_accel {
    input-type = <INPUT_EV_REL>; // For relative input devices
    track-remainders;            // Accumulate fractional movements
    min-factor = <800>;          // 0.8x at very slow speeds
    max-factor = <3000>;         // 3.0x at fast speeds
    speed-threshold = <1200>;    // 1200 counts/sec for 1x
    speed-max = <6000>;          // 6000 counts/sec for max accel
    acceleration-exponent = <2>; // Quadratic acceleration curve
    track-remainders;            // Track fractional movements
};

&pointing_device_split_listener {
    input-processors =
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&pointer_accel>;

    scroller {
        layers = <3>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>,
            <&zip_xy_scaler 1 4>,
            <&zip_xy_to_scroll_mapper>;
    };
};
